@model Hospital_Management_System.ViewModels.UserModel
@{
    ViewBag.Title = "Login";
}

<div class="d-flex justify-content-center" >
<div class="row " style="width:500px; height:320px; border:solid" >
    <div class="col-lg-12">
        <div class="card-body p-md-3 mx-md-4">
            <h3>Login</h3>
            @using (Html.BeginForm())
            {
                @Html.ValidationSummary()
                <div class="form-group row mb-2">
                    <div class="col-12">
                        @Html.TextBoxFor(x => x.UserName, new { @class = "form-control", placeholder = "username..." })
                        @Html.ValidationMessageFor(x => x.UserName, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group row mb-2">
                    <div class="col-12">
                        @Html.PasswordFor(x => x.Password, new { @class = "form-control", placeholder = "password..." })
                        @Html.ValidationMessageFor(x => x.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4 mb-2">
                        <div class="d-flex justify-content-start">
                            <button type="submit" class="btn btn-primary">Login</button>
                        </div>
                    </div>
                </div>
                <div class="d-flex align-items-end justify-content-md-start pb-4">
                    <p class="mb-0 me-2">Don't have an account?</p>
                    <a href="/Account/Register">Registation</a>
                </div>
            }
        </div>
    </div>
</div>
</div>
